// ------- COLOR PALETTE -------

// Primary Colors
$primary: #08bed5;
$primary-1: #e5fcff;
$primary-2: #ccfcf2;
$primary-3: #66f2eb;
$primary-4: #3fe0e5;
$primary-6: #0595b7;
$primary-7: #047099;
$primary-8: #02507b;
$primary-9: #013a66;

// Secondary Colors
$secondary: #ff7d05;
$secondary-1: #ffefcd;
$secondary-2: #ffda9b;
$secondary-3: #ffc069;
$secondary-4: #ffa743;
$secondary-6: #db5f03;
$secondary-7: #b74602;
$secondary-8: #933101;
$secondary-9: #7a2200;

// Danger Colors
$danger: #ff5938;
$danger-1: #ffead7;
$danger-2: #ffceaf;
$danger-3: #ffad87;
$danger-4: #ff8d69;
$danger-6: #db3828;
$danger-7: #b71e1c;
$danger-8: #93111a;
$danger-9: #7a0a1a;

// Warning Colors
$warning: #f9bb00;
$warning-1: #fef7cb;
$warning-2: #feec98;
$warning-3: #fddf65;
$warning-4: #fbd13e;
$warning-6: #d69b00;
$warning-7: #b37d00;
$warning-8: #906100;
$warning-9: #774d00;

// Info Colors
$info: #1e6ffc;
$info-1: #d1e9fe;
$info-2: #a4cffe;
$info-3: #77b2fe;
$info-4: #5599fd;
$info-6: #1555d8;
$info-7: #0f3fb5;
$info-8: #092c92;
$info-9: #051e78;

// Success Colors
$success: #4aaf28;
$success-1: #e8fbd4;
$success-2: #cef7aa;
$success-3: #a6e77c;
$success-4: #7dcf57;
$success-6: #33961d;
$success-7: #1f7d14;
$success-8: #10650c;
$success-9: #07530a;

// Typography Colors
$typography-heading: #1c1c1c;
$typography-body: #363636;

// Neutral Colors
$neutral-light: #fefefe;
$neutral-dark: #090909;
$neutral-1: #f7f7f7;
$neutral-2: #dddddd;
$neutral-3: #c9c9c9;
$neutral-4: #878787;
$neutral-5: #737373;
$neutral-6: #525252;
$neutral-7: #373737;
$neutral-8: #2a2a2a;
$neutral-9: #0f0f0f;
