.aboutUs-banner {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  &-title {
    margin-bottom: 0.5rem;
  }
  &-description {
    margin-bottom: 0.5rem;
  }
  &-content {
    max-width: 736px;
    margin: 0 auto;
  }
}
