.layout {
  &-header {
    height: auto;
    background-color: $neutral-light;
    padding: 0;
  }

  &-content {
    margin-top: 76px !important;
    background-color: #fff;
    width: 100%;
  }

  &-footer {
    padding: 5rem 0;
    background-color: $neutral-light;
  }

  @media screen and (max-width: 767px) {
    &-footer {
      padding: 2.5rem 0;
    }
  }
}
